
<%= link_to 'Edit', edit_plot_path(@plot) %> |
<%= link_to 'Back', plots_path %>
<br>

<div class="field num">
      <b>Image:</b><br />      
    <% @plot.plot_images.each do |image| %>
   
     <%= link_to( image_tag(image.graph.url(:small)), image.graph.url(:original)) %>

<% end %>
  </div>
