<div class="show-div">
<fieldset class="field-set round"><legend>Download model Coeffecients file</legend>


</fieldset>
</div>

<div class="ajaxResponce">

<% if @probe_list %>
<% for i in 0..@probe_list.length - 1 %>
<label><b><i><%= @probe_list[i] %></i></b></label>
<% end %>
</div>
<% end %>

</div>
