<div class="show-div">
<fieldset class="field-set"><legend>Selection of probes for normalization</legend>

<% if @probe_list %>
<%= collection_select(options_for_select(@probe_list, selected=nil)) %>
<% end %>

</fieldset>
</div>

<div class="show-div">
<fieldset class="field-set"><legend>Normalized signal intensities</legend>
</fieldset>
</div>

<div class="show-div">
<fieldset class="field-set"><legend>Select algorithms for cell counting/predicting</legend>
</fieldset>
</div>

