<%= render 'form' %>

<%= render 'formTwo' %>

<% if flash[:notice] %>
<div class="notice round new-notice" id="notice"><%= flash[:notice] %></div>
<% end %>

<div class="hide-div">
<fieldset class="field-set round"><legend>Normalized signal intensities</legend>
</fieldset>
</div>


<script type="text/javascript">

    var notice = $('#notice');
    if ( notice.text().length > 0 ) { notice.delay(2000).fadeOut('slow'); }



/*

//IMPORTANT FOR CONTROLLER SPECIFIC JAVASCRIPT

To load only the necessary name_of_the_js_file.js file:

remove the //=require_tree from application.js

keep your js file (that you want to load when a specific page is loaded) in the asset pipeline

add a helper in application_helper.rb

def javascript(*files)
  content_for(:head) { javascript_include_tag(*files) }
end
yield into your layout:

#ltmdeq# yield(:head) mdgt
add this in your view file:

#ltmd# javascript 'name_of_the_js_file' mdgt
Then it should be ok

*/


</script>


