<%= render 'form' %>

<%= render 'formTwo' %>

<% if flash[:notice] %>
<div class="notice round new-notice" id="notice"><%= flash[:notice] %></div>
<% end %>


<script type="text/javascript">

    var notice = $('#notice');
    if ( notice.text().length > 0 ) { notice.delay(1500).fadeOut('slow'); }

</script>


