<br /><br /><br />

<hr />


<table width="100%">
    <tr><td>   
          <div class="span">
            <h4>Brought to you by</h4>
            <div>
              <p>
                 <a href="http://www.microaqua.eu/" >
                  <%= link_to appHelperLogo, root_path %>
                </a>
              </p>
              <p>
                <a href="http://www.unicam.it/" >
                  <%= link_to appUnicamLogo, root_path %>
                </a>
              </p>
            </div>
           </div>
          </td>
         <td>
          <div class="span">
            <h4>Contacts</h4>
            <div class="muted">
              <p id="copyright">
                For feedbacks, bug reports and other informations:
                <ul>
                  <li><b>s2c@microaqua.eu</b></li>
                </ul>
              </p>
              <section>
                <strong>Address:</strong>
                Via Gentile III da Varano,
                School of Biosciences and Veterniary Medicine,
                University of Camerino, Camerino(MC) 62032 IT
                 </section>
               </p>            
            </div>
          </div>
       </td>
       <td>
          <div class="span2">
            <h4>Cite us</h4>
            <p id="back-top">
              <a href="" target="_blank">
              <strong>
                S2C: A web server for cell count prediction from multi-species microarray calibration dataset 
              </strong>
              </a><br />
                Kumar Saurabh Singh, Nicola Cannata<br />
                XXXXX 
            </p>
          </div>
       </td>
       <td>
          <div class="span2">
           <section>
            <h4>Source code distribution</h4>
              <a href="https://github.com/kumarsaurabh20/PlotApp">
              <strong>
                S2C web server
              </strong>
              </a><br />
              <a href="https://github.com/kumarsaurabh20/PlotApp">
              <strong>
                S2C RESTful web service
              </strong>
              </a>
            </p>
           </section><br />
           <div>
              <p id="back-top">
                <a href="https://github.com/kumarsaurabh20/PlotApp" target="_blank">
                  <%= link_to appGithubLogo, root_path %>
                </a>
              </p>
          </div>
        </div>
       </td>
     </tr>
</table>     
