<div id="header">
<table width="100%">
<tr><td rowspan="2">

<%= link_to appHelperLogo, root_path %>

</td>
<td rowspan="2">
<div class="title round">
<h1><u>S2C Web server</u></h1>
<h2>An online cell count prediction tool from multispecies microarray datasets</h2>
</div>
</td>
</tr>
</table>

<table width="100%">
    <tr>
       <td>
  <ul class="navigation round">
    <li><a href="http://bioaqua1.microaqua.eu" target="_blank">MicroAqua Database</a></li>
    <li><a href="http://microaqua.eu/" target="_blank">MicroAQUA External site</a></li>
    <li><a href="http://engeebee.com/dpmicroaqua/" target="_blank">Reports</a></li>
  </ul>
       </td>
   </tr>
</table>

</div>
<br />
<br />
