    <%= stylesheet_link_tag 'scaffold', :media => 'screen' %>
    <%= stylesheet_link_tag 'scaffold',  :media => 'print' %>
    <!--[if lt IE 8]><%= stylesheet_link_tag 'scaffold/ie' %><![endif]-->
    <%= stylesheet_link_tag 'scaffold', :media => 'screen' %>
    <div style="display:none"> stylesheet_link_tag 'scaffold', :media => 'screen' </div>
    
    
